# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.sass-cache*

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Editors
.idea/

# Golang
*.out
# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

/server/client/node_modules
/server/client/build
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/config.custom.json
/*.log