@charset "utf-8";

/**
 * Bulma customization
 */

@import "../node_modules/bulma/bulma.sass";

@import "assets/normalize";


/* taking out the default styling of any button */
button {
        border: none;
        background-color: Transparent;
        &:active, &:hover, &:focus {
           outline: 0;
           background-color: Transparent;
        }
    }
html {
    background-color: #ffffff00; // it is transparent
}
body {
//     background-color: $grey-lighter;
}

/** Navbar */

.navbar {
    margin: 0 auto;
    padding: 0 0 60px 0;
    max-width: 1152px;
    @media (max-width: 376px){
        padding: 5px 0 50px 0;
    }
    .navbar-brand {
        .center-navbar-title {
            margin-top: 25px;
            @media (max-width: 376px){
                margin: 15px 0 0 25px;
            }
       }
       .navbar-burger {
            margin-top: 10px;
            margin-right: 10px;
       }
    }
    .navbar-item {
        .mdi {
            margin-right: 5px;
        }
        @media (max-width: 376px){
            text-align: center;
        }
    }
    .navbar-item:last-child {
        padding-right: 0px;
        @media (max-width: 376px){
                    padding-right: 12px;
                }
    }
    .logo-navbar {
        margin-top: 25px;
        @media (max-width: 376px){
            margin-left: 30px;
        }
    }
}

/** --- Expenses page --- */
/** Control area */

/* Add entry */
.center-text {
    text-align: center;
    margin-top: 0;
}

.add-more {
    text-align: center;
    .add-more-button {
        width: 150px;
    }
}

/* Filters and search bar */
.filters {
    padding: 15px 0;
    display: flex;
    @media (max-width: 376px){
        padding: 30px 15px 30px 30px;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
//         justify-content: center;
    }
    .filter-position {
        float: right;
        padding-top: 20px;
        padding-bottom: 30px;
        @media (max-width: 376px){
            float: none;
            padding: 0 2px;
        }
    }
    .filter-time {
        margin-right: 10px;
        float:  right;
        @media (max-width: 376px){
                    padding-top: 4px;
                    padding-bottom: 4px;
                    margin-right: 0;
                }
    }
    .filter-category {
        margin-right: 10px;
        .mdi {
            margin-right: 5px;
        }
        @media (max-width: 376px){
            padding-top: 4px;
            margin-right: 0;
        }
    }
    .filter-user {
        margin-right: 10px;
        @media (max-width: 376px){
                    padding-top: 8px;
//                     padding-left: 20px;
                    margin-right: 4px;
        }
    }
    .add-category {
        padding-top: 20px;
        float: left;
        .add-category-button {
            // margin-right: 10px;
        }
         @media (max-width: 376px){
            padding-top: 8px;
        }
        .span[title]:hover:after {
            content: attr(title);
            color: red;
            position: absolute;
              top: -100%;
              left: 0;
        }
    }
    .add-shared {
     padding-top: 20px;
     padding-right: 10px;
     @media (max-width: 376px){
         padding-top: 8px;
         padding-right: 0px;
         margin-right: 6px;
     }
    }
    .search-box {
        float: left;
        width: 295px;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-right: 10px;
        @media (max-width: 376px){
            float: left;
            padding: 0 20px 4px 2px;
            width: 292px;
            margin-right: 0;
            .control {
                width: 100%;
            }
        }
    }
    .dropdown-menu {
        top: 70%;
    }
}

/** Table area */
.table-wrapper {
    overflow-x: auto;
    width: 100%;
    padding-bottom: 20px;
}

.clickable {
    cursor: pointer;
}

.tag .mdi {
    margin-right: 5px;
}

.total-text {
    margin-bottom: 50px;
}

/** Pagination */
.pagination {
    @media (max-width: 376px){
        margin: 10px;
    }
}


/** Categories page */

.category-container {
    width: 100%;
    overflow: hidden;
    .category-table {
        width: 70%;
        float: left;
        padding-right: 30px;
         @media (max-width: 376px){
            float: none;
            width: 100%;
            padding-right: 0;
            padding: 0 10px;
        }
    }
    .add-new-category {
        width: 30%;
        float: right;
        @media (max-width: 376px){
            float: none;
            width: 100%;
        }
    }
    form {
        @media (max-width: 376px){
            padding-bottom: 50px;
        }
    }
    .add-new-category-button {
        text-align: center;
        padding-bottom: 50px;
        @media (max-width: 376px){
            padding-bottom: 50px;
        }
    }
    .field {
        justify-content: center;
    }
}

/** --- Forms: adding new entry --- */
.entry-form, .login-form {
    form {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        @media (max-width: 376px){
            width: 280px;
        }
    }
}

.is-delete {
    cursor: pointer;
}

/* Datepicker */

.select:not(.is-multiple):not(.is-loading)::after {
    z-index: 1;
}

#date {
    border: 1px solid transparent;
    border-width: 1px;
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    max-width: 100%;
    width: 100%;
    background-color: white;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    height: 2.5em;
    &:hover {
        border-color: #b5b5b5;
    }
    &:active, &:focus-visible {
            border: 1px solid transparent;
            border-color: #3273dc;
            box-shadow: 0 0 0 0.125em rgb(50 115 220 / 25%);
        }

}

.duplicate-button {
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
    button {
        float: right;
        @media (max-width: 376px){
            margin-right: 50px;
        }
    }
    @media (max-width: 376px){
        width: 100%;
    }
}
.control {
    width: 50%;
}

.full-input {
    width: 100%;
}

#submit-button {
    width: 100%;
    padding-top: 13px;
}

.checkbox {
    float: right;
    padding-top: 42px;
    padding-left: 122px;
}

.label {
    width: 50%;
}

#date-label, #date-picker {
    float: right;
}

#category, #user_id {
    display: inline;
    width: 100%;
}

.react-datepicker-wrapper {
    width: 100%;
}

.select {
    width: 48%;
}

#date-category, #user-shared {
    padding-top: 8px;
}

#shared {
    @media (max-width: 376px){
            padding-left: 65px;
        }
}

#Save {
    width: 130px;
}
/* Charts */

.chart-container {
    width: 100%;
    .chart-item-right {
        width: 50%;
        float: right;
        padding: 20px 40px 60px 20px;
        @media (max-width: 376px){
            width: 100%;
            float: none;
            margin-left: auto;
            margin-right: auto;
            padding: 20px 30px 40px 20px;
        }
    }
    .chart-item-left {
        width: 50%;
        float: left;
        padding: 20px 20px 60px 40px;
        @media (max-width: 376px){
            width: 100%;
            float: none;
            margin-left: auto;
            margin-right: auto;
            padding: 20px 30px 40px 20px;
        }
    }
    .chart-item-center {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 20px 20px 60px 20px;
         @media (max-width: 376px){
            width: 100%;
            padding: 20px 30px 40px 20px;
        }
    }
    .chart-item {
//         padding: 20px 40px 60px 40px;
    }
    .chart-filter {
        display: inline-block;
        width: 100%;
        .filter-time, .filter-category {
            float: right;
            padding: 10px 10px 10px 10px;
        }
        .chart-title {
            padding-top: 30px;
            margin: 0;
        }
        .dropdown-menu {
            top: 87%;
        }

    }
    .chart-time, .chart-category, .chart-category-and-users {
        overflow:hidden;
        background-color: white;
    }

}

/* Settings */

.user-color {
    padding: 20px;
}
.add-new-color {
    text-align: center;
    padding: 50px 0;
}

.add-new-color-button {
    padding: 0 12px 0 0;
}

.circle-picker {
    margin-left: auto;
    margin-right: auto !important;
    padding: 20px 0 0 0;
}

/* Dark mode toggle*/
// https://codepen.io/demilad/pen/bZRjpb

@import url('https://fonts.googleapis.com/css?family=Rubik');

.dark-mode-toggle {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;;
    .toggle-body {
        position: relative;
        width: 100vw;
        height: 90px;
//         background-color: #fff;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .1s;
    }

    .toggle-container {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        width: 300px;
        transform: translateY(5%);
        @media (max-width: 376px){
            width: 200px;
        }
    }
    label, .toggle {
        height: 2.8rem;
        border-radius: 100px;
    }
    label {
        width: 100%;
        background-color: rgba(0,0,0,.2);
        border-radius: 100px;
        position: relative;
        margin: 1.8rem 0 4rem 0;
        cursor: pointer;
    }
    .toggle {
        position: absolute;
        width: 50%;
        background-color: #fff;
        box-shadow: 0 2px 15px rgba(0,0,0,.15);
        transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
    .names {
        font-size: 90%;
        font-weight: bolder;
        width: 65%;
        margin-left: 17.5%;
        margin-top: .5%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        user-select: none;
        padding-top: 8px;
    }
    .dark {
        opacity: .5;
    }
    .mark {
        border-radius: 100px;
        background-color: black;
    }
    .mark {
        width: 7%;
        margin: auto;
        position: relative;
        height: .25rem;
    }
    .mark::before {
        content: '';
        position: absolute;
        width: .25rem;
        height: 100%;
        left: -70%;
        opacity: .15;
        background-color: inherit;
    }
    .mark::after {
        content: '';
        position: absolute;
        width: .25rem;
        height: 100%;
        right: -70%;
        opacity: .15;
        background-color: inherit;
    }
    /* -------- switch Styles ------------*/
    [type="checkbox"] {
        display: none;
    }
    /* toggle */
    [type="checkbox"]:checked + .toggle-body .toggle{
        transform: translateX(100%);
        background-color: #34323D;
    }

    [type="checkbox"]:checked + .toggle-body .dark{
        opacity: 1;
    }
    [type="checkbox"]:checked + .toggle-body .light{
        opacity: .5;
    }
    /* background */
//     [type="checkbox"]:checked + .toggle-body {
//         background-color:  #222;
//         color: white;
//     }
}

.settings-container {
    padding-bottom: 100px;
}
.settings {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    .add-new-color {
            padding: 15px 0 55px 0 !important;
        }
    @media (max-width: 376px){
        padding-bottom: 40px;
    }
    .add-new-color-button {
        @media (max-width: 376px){
            padding-top: 85px;
        }
    }
}

.settings-title {
    display: block;
    float: left;
    width: 50%;
    padding: 50px 0 50px 0;
    margin-left: 200px;
     @media (max-width: 376px){
        width: 100%;
        margin-left: 0;
        padding: 30px 0 0 0;
    }
}

.settings-body {
    display: block;
    margin-right: 15%;
    @media (max-width: 376px){
        margin-right: 0;
    }
}

.circle-picker {
    padding: 15px 5px 5px 15px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(255,255,255,0.5);
    border-radius: 20px;
    background-color: #fff;
    opacity: 0.8;
    margin-top: 20px;
    justify-content: center;
    width: 270px !important;
}

.color-picker-container {
    background-color: black;
}

.toggle-body {
    width: auto !important;
    @media (max-width: 376px){
        width: 100vw !important;
    }
}

/* Notes */

.notes-list-container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    .search-box {
        padding: 1rem;
        .control {
        width: 100%;
        }
    }
}

.notes-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.note.add-new-note {
    background-color: #c8dafa;
}

textarea {
    border: none;
    resize: none;
    background-color:#c8dafa;
    width: 100%;
    height: 100%;
}

textarea:focus {
    outline: none;
}

.note {
    background-color:  #c8dafa;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     white-space: pre-wrap;
    button:hover {
        color: grey;
        cursor: pointer;
    }
}

.note-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: pre-wrap;
}

.note-content {
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 4;
}

.simple-note-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    button {
        margin-left: 10px;
    }
}

.edit-note-buttons {
    display: flex;
    flex-direction: column;
    button {
        margin-bottom: 10px;
    }
}

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;
}

.note-footer {
    button {
        margin: 3px;
    }
    small {
        margin: 3px;
    }
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #2160c4;
    color: #e3ecfa;
    font-size: 85%;
    position: absolute;
    padding: 1px 5px 2px 5px;
    margin: 3px;
    bottom: 120%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #333;
    opacity: 0;
    border: 1px solid #2160c4;
    border-radius: 4px;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}

/* Checklist */

.note-button {
    margin-right: 10px;
}

.checklist {
    flex-direction: column;
}

.checklist-container {
    button {
        float: right;
        margin-left: 10px;
        margin-bottom: 0 !important;
    }
    .checklist-top {
        display: flex;
        align-content: center;
    }
}

.checklist-form {
    flex-grow: 4;
    margin-bottom: 20px;
}

.checklist-input, .title-input {
    border: 1px solid #c8dafa;
    border-radius: 5px;
    resize: none;
    background-color: #eef3fc;
    padding: 10px;
    margin-right: 10px;
    width: 60%;
}

.title-input {
    background-color: #eef3fc !important;
    border: 1px solid #eef3fc !important;
    margin-bottom: 10px;
    width: 100%;
}

.note-title {
    color: #222;
    margin-bottom: 10px;
    text-align: center;
    font-size: 120%;
    font-weight: 600;
}

.title-input:focus {
    background-color: #eef3fc;
    border: none;
    outline: none;
}

.checklist-input:focus, .title-input:focus {
    border: none;
    outline: none;
    resize: none;
}

.checklist-item {
    color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0 5px 10px;
}

.checklist-item.checked {
    text-decoration: line-through;
    color: #999796;
}


/**
 * Bulma customization dark mode
 */

// brand colors
$dark: #222;
$dark-darker: #1d1d1d;
$dark-light: #333;
$dark-lighter: #444;
$grey: #3a3f41;
$grey-light: #bbb8b7;
$grey-lighter: #cbc8c7;
$blue: #4493de;
$blue-light: #5ba5ea;
$green: #2c7b41;
$green-light: #2a9747;

.dark-mode {
    background-color: $dark;
    color: $grey-light;
    .title {
        color: $grey-light;
    }
    main {
        background-color: $dark;
    }
    .navbar {
        background-color: $dark;
        .navbar-item {
            color: $grey-light;
            &:hover {
            background-color: $dark-light;
                @media (max-width: 376px){
                    background-color: $grey-light;
                }
            }
        }
        .navbar-menu {
            background-color: $dark;
             .active {
                background-color: $grey;
            }
            @media (max-width: 376px){
                background-color: $dark;
            }
        }
    }
    .search-box {
        input {
            background-color: $dark-light;
            color: $grey-light;
            border: 1px solid $grey;

        }
        ::placeholder {
            color: $grey-light;
        }
        .fa-search {
            color: $grey-light;
        }
    }
    .dropdown {
        button {
            background-color: $dark-light;
            color: $grey-light;
            border: 1px solid $grey;
        }
        .dropdown-content {
            background-color: $dark-light;
        }
    }
    .table {
            background-color: $dark-light;
            color: $grey-light;
            td, th {
                border: 1px solid $grey;
                button {
                    border: 1px solid $grey;
                }
            }
            tbody {
                tr {
                    &:hover {
                        background-color: $grey !important;
                    }
                }
            }
        }
    .pagination {
         button {
            background-color: $dark-light;
            color: $grey-light;
            border: 1px solid $grey;
         }
    }
    .end-text {
        padding-bottom: 100px;
        }
    .clickable {
        color: $grey-light;
    }
    input {
        background-color: $dark-light;
        color: $grey-light;
        border: 1px solid $grey;
    }
    form {
        .label {
            color: $grey-light;
        }
        #category, #user_id, #category_color {
            background-color: $dark-light;
            color: $grey-light;
            border: 1px solid $grey;
        }
        #date-picker {
            input {
                background-color: $dark-light;
                color: $grey-light;
                border: 1px solid $grey;
            }
        }
        .react-datepicker {
            border: 1px solid $grey;
        }
//this does not work:
        .react-datepicker__triangle,  .react-datepicker-popper {
            border-top-color: $grey;
        }
       .react-datepicker__month-container, .react-datepicker__header {
            background-color: $dark-light;
            color: $grey-light;
            border: 1px solid $grey;
       }
       .react-datepicker__header {
            background-color: $dark;
       }
       .react-datepicker__current-month,  .react-datepicker__day-name, .react-datepicker__day {
            color: $grey-light;
       }
       button {
            margin-bottom: 100px;
       }
    }
    .category-table {
        background-color: $dark;
        padding-bottom: 100px;
    }
    .add-new-category {
        background-color: $dark;
    }

    .circle-picker {
        padding: 15px 5px 5px 15px;
        border-width: 3px;
        border-style: solid;
        border-color: rgba(34, 34, 34, 0.1);
        background-color: $dark;
    }
    [data-title]:after {
        background-color: $dark;
        color: $grey-lighter;
    }
}


