@charset "utf-8";

/**
 * Bulma customization
 */

@import "../node_modules/bulma/bulma.sass";

@import "assets/normalize";


/* taking out the default styling of any button */
button {
        border: none;
        background-color: Transparent;
        &:active, &:hover, &:focus {
           outline: 0;
           background-color: Transparent;
        }
    }
html {
    background-color: #ffffff00; // it is transparent
}
body {
//     background-color: $grey-lighter;
}

/** Navbar */

.navbar {
    margin: 0 auto;
    padding: 0 0 60px 0;
    max-width: 1152px;
    @media (max-width: 376px){
        padding: 5px 0 50px 0;
    }
    .navbar-brand {
        .center-navbar-title {
            margin-top: 25px;
            @media (max-width: 376px){
                margin: 15px 0 0 25px;
            }
       }
       .navbar-burger {
            margin-top: 10px;
            margin-right: 10px;
       }
    }
    .navbar-item {
        .mdi {
            margin-right: 5px;
        }
        @media (max-width: 376px){
            text-align: center;
        }
    }
    .navbar-item:last-child {
        padding-right: 0px;
        @media (max-width: 376px){
                    padding-right: 12px;
                }
    }
    .logo-navbar {
        margin-top: 25px;
        @media (max-width: 376px){
            margin-left: 30px;
        }
    }
}

/** --- Expenses page --- */
/** Control area */

/* Add entry */
.center-text {
    text-align: center;
    margin-top: 0;
}

.add-more {
    text-align: center;
    .add-more-button {
        width: 150px;
    }
}

/* Filters and search bar */
.filters {
    padding: 15px 0;
    display: flex;
    @media (max-width: 376px){
        padding: 30px 15px 30px 30px;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
//         justify-content: center;
    }
    .filter-position {
        float: right;
        padding-top: 20px;
        padding-bottom: 30px;
        @media (max-width: 376px){
            float: none;
            padding: 0 2px;
        }
    }
    .filter-time {
        margin-right: 10px;
        float:  right;
        @media (max-width: 376px){
                    padding-top: 4px;
                    margin-right: 0;
                }
    }
    .filter-category {
        margin-right: 10px;
        .mdi {
            margin-right: 5px;
        }
        @media (max-width: 376px){
            padding-top: 4px;
            margin-right: 0;
        }
    }
    .filter-user {
        margin-right: 10px;
        @media (max-width: 376px){
                    padding-top: 8px;
//                     padding-left: 20px;
                    margin-right: 4px;
        }
    }
    .add-category {
        padding-top: 20px;
        float: left;
        .add-category-button {
            // margin-right: 10px;
        }
         @media (max-width: 376px){
            padding-top: 8px;
        }
        .span[title]:hover:after {
            content: attr(title);
            color: red;
            position: absolute;
              top: -100%;
              left: 0;
        }
    }
    .add-shared {
     padding-top: 20px;
     padding-right: 10px;
     @media (max-width: 376px){
         padding-top: 8px;
         padding-right: 0px;
         margin-right: 6px;
     }
    }
    .search-box {
        float: left;
        width: 295px;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-right: 10px;
        @media (max-width: 376px){
            float: left;
            padding: 0 20px 4px 2px;
            width: 292px;
            margin-right: 0;
            .control {
                width: 100%;
            }
        }
    }
    .dropdown-menu {
        top: 70%;
    }
}

/** Table area */
.table-wrapper {
    overflow-x: auto;
    width: 100%;
    padding-bottom: 20px;
}

.clickable {
    cursor: pointer;
}

.tag .mdi {
    margin-right: 5px;
}

.total-text {
    margin-bottom: 50px;
}

/** Pagination */
.pagination {
    @media (max-width: 376px){
        margin: 10px;
    }
}


/** Categories page */

.category-container {
    width: 100%;
    overflow: hidden;
    .category-table {
        width: 70%;
        float: left;
        padding-right: 30px;
         @media (max-width: 376px){
            float: none;
            width: 100%;
            padding-right: 0;
            padding: 0 10px;
        }
    }
    .add-new-category {
        width: 30%;
        float: right;
        @media (max-width: 376px){
            float: none;
            width: 100%;
        }
    }
    form {
        @media (max-width: 376px){
            padding-bottom: 50px;
        }
    }
    .add-new-category-button {
        text-align: center;
        padding-bottom: 50px;
        @media (max-width: 376px){
            padding-bottom: 50px;
        }
    }
    .field {
        justify-content: center;
    }
}

/** --- Forms: adding new entry --- */
form {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    @media (max-width: 376px){
        width: 280px;
    }
}

.is-delete {
    cursor: pointer;
}

/* Datepicker */

.select:not(.is-multiple):not(.is-loading)::after {
    z-index: 1;
}

#date {
    border: 1px solid transparent;
    border-width: 1px;
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    max-width: 100%;
    width: 100%;
    background-color: white;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    height: 2.5em;
    &:hover {
        border-color: #b5b5b5;
    }
    &:active, &:focus-visible {
            border: 1px solid transparent;
            border-color: #3273dc;
            box-shadow: 0 0 0 0.125em rgb(50 115 220 / 25%);
        }

}

.duplicate-button {
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
    button {
        float: right;
        @media (max-width: 376px){
            margin-right: 50px;
        }
    }
    @media (max-width: 376px){
        width: 100%;
    }
}
.control {
    width: 50%;
}

.full-input {
    width: 100%;
}

#submit-button {
    width: 100%;
    padding-top: 13px;
}

.checkbox {
    float: right;
    padding-top: 42px;
    padding-left: 122px;
}

.label {
    width: 50%;
}

#date-label, #date-picker {
    float: right;
}

#category, #user_id {
    display: inline;
    width: 100%;
}

.react-datepicker-wrapper {
    width: 100%;
}

.select {
    width: 48%;
}

#date-category, #user-shared {
    padding-top: 8px;
}

#shared {
    @media (max-width: 376px){
            padding-left: 65px;
        }
}

#Save {
    width: 130px;
}
/* Charts */

.chart-container {
    width: 100%;
    .chart-item-right {
        width: 50%;
        float: right;
        padding: 20px 40px 60px 20px;
    }
    .chart-item-left {
        width: 50%;
        float: left;
        padding: 20px 20px 60px 40px;
    }
    .chart-item {
//         padding: 20px 40px 60px 40px;
    }
    .chart-filter {
        display: inline-block;
        width: 100%;
        .filter-time, .filter-category {
            float: right;
            padding: 10px 10px 10px 10px;
        }
        .chart-title {
            padding-top: 30px;
            margin: 0;
        }

    }
    .chart-time {
        overflow:hidden;
        background-color: white;
    }

}

/**
 * Bulma customization dark mode
 */

// brand colors
$dark: #222;
$dark-darker: #1d1d1d;
$dark-light: #333;
$dark-lighter: #444;
$grey: #3a3f41;
$grey-light: #bbb8b7;
$grey-lighter: #cbc8c7;
$blue: #4493de;
$blue-light: #5ba5ea;
$green: #2c7b41;
$green-light: #2a9747;

.dark-mode {
    background-color: $dark;
    color: $grey-light;
    .title {
        color: $grey-light;
    }
    main {
        background-color: $dark;
    }
    .navbar {
        background-color: $dark;
        .navbar-item {
            color: $grey-light;
            &:hover {
            background-color: $dark-light;
                @media (max-width: 376px){
                    background-color: $grey-light;
                }
            }
        }
        .navbar-menu {
            background-color: $dark;
             .active {
                background-color: $grey;
            }
            @media (max-width: 376px){
                background-color: $dark;
            }
        }
    }
    .search-box {
        input {
            background-color: $dark-light;
            color: $grey-light;
            border: 1px solid $grey;

        }
        ::placeholder {
            color: $grey-light;
        }
        .fa-search {
            color: $grey-light;
        }
    }
    .dropdown {
        button {
            background-color: $dark-light;
            color: $grey-light;
            border: 1px solid $grey;
        }
        .dropdown-content {
            background-color: $dark-light;
        }
    }
    .table {
            background-color: $dark-light;
            color: $grey-light;
            td, th {
                border: 1px solid $grey;
                button {
                    border: 1px solid $grey;
                }
            }
            tbody {
                tr {
                    &:hover {
                        background-color: $grey !important;
                    }
                }
            }
        }
    .pagination {
         button {
            background-color: $dark-light;
            color: $grey-light;
            border: 1px solid $grey;
         }
    }
    .end-text {
        padding-bottom: 100px;
        }
    .clickable {
        color: $grey-light;
    }
    input {
        background-color: $dark-light;
        color: $grey-light;
        border: 1px solid $grey;
    }
    form {
        .label {
            color: $grey-light;
        }
        #category, #user_id, #category_color {
            background-color: $dark-light;
            color: $grey-light;
            border: 1px solid $grey;
        }
        #date-picker {
            input {
                background-color: $dark-light;
                color: $grey-light;
                border: 1px solid $grey;
            }
        }
        .react-datepicker {
            border: 1px solid $grey;
        }
//this does not work:
        .react-datepicker__triangle,  .react-datepicker-popper {
            border-top-color: $grey;
        }
       .react-datepicker__month-container, .react-datepicker__header {
            background-color: $dark-light;
            color: $grey-light;
            border: 1px solid $grey;
       }
       .react-datepicker__header {
            background-color: $dark;
       }
       .react-datepicker__current-month,  .react-datepicker__day-name, .react-datepicker__day {
            color: $grey-light;
       }
       button {
            margin-bottom: 100px;
       }
    }
    .category-table {
        background-color: $dark;
        padding-bottom: 100px;
    }
    .add-new-category {
        background-color: $dark;
    }
}


