@charset "utf-8";

/**
 * Bulma customization
 */

@import "../node_modules/bulma/bulma.sass";

@import "assets/normalize";


/* taking out the default styling of any button */
button {
        border: none;
        background-color: Transparent;
        &:active, &:hover, &:focus {
           outline: 0;
           background-color: Transparent;
        }
    }

/** Navbar */

.navbar {
    margin: 0 auto;
    padding: 0 0 60px 0;
    max-width: 1152px;
    @media (max-width: 376px){
        padding: 5px 0 50px 0;
    }
    .navbar-brand {
        .center-navbar-title {
            margin-top: 25px;
            @media (max-width: 376px){
                margin: 15px 0 0 25px;
            }
       }
       .navbar-burger {
            margin-right: 5px;
       }
    }
    .navbar-item {
        .mdi {
            margin-right: 5px;
        }
        @media (max-width: 376px){
            text-align: center;
        }
    }
    .navbar-item:last-child {
        padding-right: 0px;
        @media (max-width: 376px){
                    padding-right: 12px;
                }
    }
}

/** --- Expenses page --- */
/** Control area */

/* Add entry */
.center-text {
    text-align: center;
    margin-top: 0;
}

.add-more {
    text-align: center;
    .add-more-button {
        width: 150px;
    }
}

/* Filters and search bar */
.filters {
    padding: 15px 0;
    display: flex;
    @media (max-width: 376px){
        padding: 30px 15px;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .filter-position {
        float: right;
        padding-top: 20px;
        padding-bottom: 30px;
        @media (max-width: 376px){
            float: none;
            padding: 0 2px;
        }
    }
    .filter-time {
        margin-right: 10px;
        @media (max-width: 376px){
                    padding-top: 4px;
                    margin-right: 0;
                }
    }
    .filter-category {
        margin-right: 10px;
        .mdi {
            margin-right: 5px;
        }
        @media (max-width: 376px){
            padding-top: 4px;
            margin-right: 0;
        }
    }
    .add-category {
        padding-top: 20px;
        float: left;
        .add-category-button {
            // margin-right: 10px;
        }
         @media (max-width: 376px){
            padding-top: 8px;
        }
        .span[title]:hover:after {
            content: attr(title);
            color: red;
            position: absolute;
              top: -100%;
              left: 0;
        }
    }
    .add-shared {
     padding-top: 20px;
     padding-right: 10px;
    }
    .search-box {
        float: left;
        width: 295px;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-right: 10px;
        @media (max-width: 376px){
            float: left;
            padding-bottom: 4px;
            width: 292px;
            margin-right: 0;
        }
    }
}

/** Table area */
.table-wrapper {
    overflow-x: auto;
    width: 100%;
    padding-bottom: 20px;
}

.clickable {
    cursor: pointer;
}

.tag .mdi {
    margin-right: 5px;
}

.total-text {
    margin-bottom: 50px;
}

/** Pagination */
.pagination {
    @media (max-width: 376px){
        margin: 10px;
    }
}


/** Categories page */

.category-container {
    width: 100%;
    .category-table {
        width: 70%;
        float: left;
        padding-right: 30px;
         @media (max-width: 376px){
            float: none;
            width: 100%;
            padding-right: 0;
            padding: 0 10px;
        }
    }
    .add-new-category {
        width: 30%;
        float: right;
        @media (max-width: 376px){
            float: none;
            width: 100%;
        }
    }
    form {
        @media (max-width: 376px){
            padding-bottom: 50px;
        }
    }
    .add-new-category-button {
        text-align: center;
        padding-bottom: 50px;
        @media (max-width: 376px){
            padding-bottom: 50px;
        }
    }
    .field {
        justify-content: center;
    }
}

/** --- Forms: adding new entry --- */
form {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    @media (max-width: 376px){
        width: 280px;
    }
}

.is-delete {
    cursor: pointer;
}

/* Datepicker */

.select:not(.is-multiple):not(.is-loading)::after {
    z-index: 1;
}

#date {
    border: 1px solid transparent;
    border-width: 1px;
    box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%);
    max-width: 100%;
    width: 100%;
    background-color: white;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    height: 2.5em;
    &:hover {
        border-color: #b5b5b5;
    }
    &:active, &:focus-visible {
            border: 1px solid transparent;
            border-color: #3273dc;
            box-shadow: 0 0 0 0.125em rgb(50 115 220 / 25%);
        }

}

.duplicate-button {
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
    button {
        float: right;
        @media (max-width: 376px){
            margin-right: 50px;
        }
    }
    @media (max-width: 376px){
        width: 100%;
    }
}
.control {
    width: 50%;
}

.full-input {
    width: 100%;
}

#submit-button {
    width: 100%;
    padding-top: 13px;
}

.checkbox {
    float: right;
    padding-top: 42px;
    padding-left: 122px;
}

.label {
    width: 50%;
}

#date-label, #date-picker {
    float: right;
}

#category, #user_id {
    display: inline;
    width: 100%;
}

.react-datepicker-wrapper {
    width: 100%;
}

.select {
    width: 48%;
}

#date-category, #user-shared {
    padding-top: 8px;
}

#Save {
    width: 130px;
}
/* Charts */

.chart-container {
    width: 100%;
    .chart-item-right {
        width: 50%;
        float: right;
        padding: 20px 40px 60px 20px;
    }
    .chart-item-left {
        width: 50%;
        float: left;
        padding: 20px 20px 60px 40px;
    }
    .chart-item {
        padding: 20px 40px 60px 40px;
    }
}




